
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$opendap-angular-primary: mat-palette($mat-indigo);
$opendap-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$opendap-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$opendap-angular-theme: mat-light-theme($opendap-angular-primary, $opendap-angular-accent, $opendap-angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($opendap-angular-theme);

$accent-color: tomato;

$standard-border: 1px solid $accent-color;

h1, h2, h3 {
    font-weight: 300;
}

nav {
    border-bottom: $standard-border;
    display: flex;
    position: fixed;
    width: 100%;
    background: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    margin-left: auto;
    margin-right: 20px;
}

nav ul li {
    margin: 15px 15px 0px 15px;
    text-decoration: none;
}

nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: $accent-color;
}

strong {
    font-weight: 500;
}

nav h1 {
    margin: 0px;
    font-weight: 100;
    margin: 10px 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: inherit;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border-bottom: solid lightgray 1px;
    padding: 10px 10px;
    text-align: left;
    font-size: 16px;
}

th {
    color: rgba(0,0,0,0.54);
    font-size: 14px;
    font-weight: 500;
}

td:nth-child(1) {
    min-width: 100px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Arial", sans-serif; }
