body {
    font-family: 'Martel', serif;
    background: whitesmoke;
    margin:0px;
    font-weight: 400;
    margin-top: 60px;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 200;
    font-size:45px;
    margin-top: 0px;
    text-align: center;
    line-height: 65px;
}

h2 {
    font-weight: 200;
    font-size: 25px;
    text-align: center;
}

h3 {
    font-weight: 200;
    text-align: center;
}

hr {
    border: solid lightgray .5px;
}

b {
    font-weight: 800;
}

#introduction h1 {
    padding-top: 10vh;
    margin-bottom: 2em;
}

#introduction h2 {
    margin-bottom: 10vh;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.introduction {
    height: 100vh;
    position: relative;
}

.large-icon {
    font-size: 50px !important;
}

.medium-icon {
    font-size: 35px !important;
}

.center-text {
    text-align: center;
}

.down-arrow {
    transition: .5s;
    cursor: pointer;
    left: 50%;
    margin-left: -25px;
    position: relative;
    margin-top: 15vh;
}

.down-arrow:hover {
    transition: .5s;
    color: tomato;
}

.add-button {
    margin-top: 75%;
}

.hook-text {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 35px;
    margin-top: 8vh;

    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.body-text {
    width: 75vw;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10vh;
}

.hook-text-text {
    max-width: 336px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}


@media (min-width: 800px) {
    #introduction h1 {
        padding-top: 25vh;
    }
    
    .hook-text {
        grid-template-columns: repeat(3, 1fr);
    }

    .hook-text-text {
        max-width: 336px;
        margin-left: auto;
        margin-right: auto;
    }
}


nav {
    z-index: 15;
    background-color: white;
    width: 100%;
    height: 60px;
    margin:0px;
    padding:0px;
    position: fixed;
    top: 0px;
    border-bottom: 1px tomato solid;
    color: darkslategray;   
}

#nav h1 {
    font-size: 24px;
    margin: 18px 20px;
    line-height: 24px;
}

#nav ul {
    margin:0px;
    padding: 0px;
    list-style-type: none;
}

#nav li {
    float: left;
}

.float-right {
    float: right !important;
    margin: 17px 17px;
}

#nav li a {
    display: block;
    text-decoration: none;
    color: darkslategray; 
}

.full-screen {
    width: 100%;
    height: calc(100vh - 60px);
}

.coral {
    background-color: coral;
    color: white !important;
}

.light-yellow {
    background-color: coral;
    color: white !important;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
    margin-top: 8vh;

    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.hyrax-overview {
    display: grid;
    grid-template-columns: 5fr 7fr;
    column-gap: 50px;

    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

#hyrax-info h3 {
    text-align: justify;
}

a {
    color: cornflowerblue;
    cursor: pointer
}

.home {
    
}

.standard-border {
    background-color: whitesmoke;
    color: darkslategray;
    border-radius: 3p
}

.grid {
    display: grid;
}

.grid-two-even-cols {
    grid-template-columns: 1.25fr 1fr;
}

.hyrax-logo {
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer {
    padding: 50px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

li {
    text-decoration: none;
    list-style-type: none;
}