.top-gap {
    margin-top: 25px;
}

.bottom-gap {
    margin-bottom: 25px;
}

.logo-small {
    width: 25px;
    height: auto;
    margin-top: -4px;
    margin-right: 7px;
}

.right-gap {
    margin-right: 7px;
    margin-top: -3px;

}